body{
    margin:0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
#panorama{
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: 0;
}

@media only screen and (min-width: 1024px) {
#banniere{
    background-image: url("../img/photos/ballon_alsace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
}

@media only screen and (max-width: 1024px) {
#banniere{
    background-image: url("../img/photos/vosges-alsace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
}

@media only screen and (max-width: 600px) {
#banniere{
    background-image: url("../img/photos/chateau_girsberg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }
}


#logo{
    height:200px;
    z-index: 1;
    position: relative;
    left: 100px
}

#site_titre{
    font-size:2rem;
}

#page_en_cours{
    margin-left: 10px;
}

.container-lg{
    text-align: justify;
    line-height: 1.5;
}

.carousel-item{
    text-align: justify;
}

.card-title{
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    #navigationPrev, #navigationNext, #navPrev, #navNext{
        display: none;
        }
    }

 @media (max-width: 994px) {
    #fleche{
        transform: rotate(90deg);
        }
    }
