body{
    margin:0px;
    padding: 0px;
}
#panorama{
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#banniere{
    background-image: url("../img/ballon_alsace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    height:200px;
    z-index: 1;
    position: relative;
}

#site_titre{
    font-size:2rem;
}

#membres{
    border:solid;
    border-color:rgb(35, 156, 172);
    border-radius: 50px;
    text-align: justify;
    line-height: 2.5;
}
.container-lg{
    text-align: justify;
    line-height: 2.5;
}